* {
  box-sizing: border-box;
  text-decoration: none;
}

.html {
  /* 스크롤 이동을 부드럽게 */
  scroll-behavior: smooth;
}

body {
  background-color: #333;
}

img {
  display: block;
}

.top {
  position: relative;
  width: 100%;
  z-index: 9;
  background-color: #333;
}

.top .menu ul li a {
  font-size: 50px;
  color: #c9c9c9;
}

.name {
  width: 100%;
  position: relative;
  background-color: #333;
  display: flex;
  justify-content: end;
  align-items: center;
}

.menu ul li + li {
  margin-top: 20px;
}

.main .name h1 {
  color: #c9c9c9;
  font-size: 50px;
  height: 100px;
}

.introduce {
  background-color: #00eeff;
  display: flex;
  align-items: center;
  height: 500px;
  border-radius: 20px;
}

.introduce > div {
  width: 95%;
  position: relative;
  display: flex;
  background-color: #fff;
  margin: 0 auto;

}

.introduce .profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

.profile {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.image {
  background-color: #fff;
  width: 100%;
  height: 50%;
}

.self {
  background-color: #fff;
  width: 80%;
  height: 50%;
  padding: 20px;
}

.image img {
  width: 50%;
  border-bottom: 3px solid #333;
}