body {
  text-align: center;
}

header {
  width: 80%;
  height: 100px;
  background-color: orange;
  list-style: none;
}

.submenu {
  display: flex;
}

.submenu ul li {
  justify-content: flex-end;
}

.menu {
  width: 10%;
}

.menu ul {
  display: flex;
  padding-top: 20px;
}

.menu ul li {
  list-style: none;
}
li + li {
  margin-left: 20px;
}