body {
  text-align: center;
}

header {
  width: 80%;
  height: 100px;
  background-color: whitesmoke;
  list-style: none;
  display: flex;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  font-size: 14px;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
}

.logo {
  background-image: url("https://www.starbucks.co.kr/common/img/common/logo.png");
  display: block;
  height: 100px;
  background-repeat: no-repeat;
}

.top a {
  text-indent: -20000px;
}

.submenu {
  position: absolute;
  right: 50px;  
}

.submenu ul {
  display: flex;
}

.menu {
  width: 10%;
}

.menu ul {
  display: flex;
  padding-top: 20px;
}

.menu ul li {
  list-style: none;
}
li + li {
  margin-left: 20px;
}